
body {
background-image: url(landing.jpg);

-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
background-position: top center;
background-repeat: no-repeat;
background-attachment: fixed;
margin: 0;
}

@font-face {
    font-family: edelsans_ultralight;
    src: url(edelsans_ultralight.otf);
}

@font-face {
    font-family: edelsans_regular;
    src: url(edelsans_regular.otf);
}
h1 {
    font-family: edelsans_ultralight;
}


.about {
    background-color: white;
    font-family: edelsans_regular;  
}

.about h1 {
    font-family: edelsans_regular;
    font-size: 200%;
    text-align: center;
}


