
body {
background-image: url(landing.jpg);

-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
background-position: top center;
background-repeat: no-repeat;
background-attachment: fixed;
font-family: Raleway-ExtraLight;
}

@font-face {
    font-family: edelsans_regular;
    src: url(edelsans_regular.otf);
}

h1 {
    font-family: edelsans_regular;
}



#imageo {
    background-image: url(troy.png);
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
}

#imageo:hover {
    background-image: url(troy2.png);
    text-align: center;
}

