
* {
  margin: 0;
  padding: 0;
}

html {
height: 100vh;
width: 100vw;
  background: url(landing.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y:hidden;
}



/*  Landing Page */

div#placeholding {
width:100vw;
height:100vh;
background-image: none;
-moz-background-size: cover;
-webkit-background-size: cover;
background-size:cover; 
  background-position:center center; 
  background-repeat:no-repeat; 
background-attachment: relative;
overflow:hidden;
}
@font-face {
    font-family: edelsans_ultralight;
    src: url(edelsans_ultralight.otf);
}

@font-face {
    font-family: edelsans_regular;
    src: url(edelsans_regular.otf);
}
h1 {
    font-family: edelsans_ultralight;
	text-align: right; 
	font-size: 180%; 
	padding-right: 2%;
}

/* About Page */

div#about{
width:100vw;
height:100vh;
background-color: white;
-moz-background-size: cover;
-webkit-background-size: cover;
background-size:cover; 
  background-position:center center; 
  background-repeat:no-repeat; 
background-attachment: relative;
overflow:hidden;
}

h2 {

font-family: edelsans_ultralight;
text-align: center;
width: 100%;
font-size: 180%

}